page-feed {
  h1.feed_title {
    color: black;
    font-weight: bold;
}

  p.feed_date {
    color: green;
    font-weight: lighter;
  }

  h2.feed_user_name {
    color: blue;
    font-weight: normal;
}
}
